(
    chunks: {
    (0,0): r#"
        ##T##T.T.T.T.T
        T###T.T.T.T.T.
        ###T#.........
        ##T##.........
        ###T#.........
        ##T#..........
        ###T#.........
        #T###.T.T.T.T.
        ###T#T.T.T.T.T
    "#,
    (0,1): r#"
        ..............
        ..............
        ..............
        ..............
        ..............
        ..............
        ..............
        ..............
        ..............
    "#
})
